* {
    color: white;
    font-family: 'Dancing Script', cursive;
}

.board {
    background-color: bisque;
    margin-top: 50px;
    border: solid black 10px;
    height: 500px;
    width: 500px;
}

.background-board {
    background-color: #015501;
    margin: 15px 0;
    border: solid black 2px;
    height: 450px;
    width: 450px;
}

td {
    border: 2px solid #ffffff;
    height: 110px;
    width: 110px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}

table {
    margin: 30px;
    border-collapse: collapse;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.btn {
    margin: 20px;
}

h2 {
    padding: 20px;
    margin-bottom: 30px;
}

button:focus {
    outline: 0;
}

footer {
    margin-top: 30px;
}

.footer-link {
    height: 30px;
    width: auto;
    font-size: 18px;
}

footer p {
    color: black;
}

.winner {
    background-color: #000;
    color: darkgoldenrod;
}

.draw-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.player1-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 91, 180, 0.5);
    z-index: 2;
    cursor: pointer;
}

.computer-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(131, 1, 1, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .board {
        margin-top: 50px;
        height: 420px;
        width: 310px;
    }

    .background-board {
        margin: 10px 10px;
        height: 385px;
        width: 300px;
    }
    * {
        font-size: 80%;
    }
    td {
        font-size: 30px;
    }
    #reset {
        margin-top: -45px;
        margin-right: -195px
    }

}
